@import "../../../variables";

.stock {
  .stock-item {
    .stock-item-content {
      background-color: $primary;
    }

    .stock-item-name {
      color: $white;
      font-size: 0.65rem;
    }

    .stock-item-quantity {
      color: $white;
    }
  }
}

.recipe {
  .recipe-ingredients-list {
    padding: 0;

    li {
      list-style-type: none;

      &:hover {
        background-color: lighten($primary, 35);
      }
    }
  }
}