<div class="card border-primary mb-3 w-100">
  <div class="card-header px-3">Futurs abordages</div>
  <div class="card-body px-3 py-3 planning" *ngIf="plannings">
    <div *ngFor="let day of days">
      <h5 class="mb-0">{{ day | date:'fullDate' }}</h5>
      
      <div *ngFor="let menuEnumKey of menuEnumKeys()" class="mb-2">
        <p class="text-muted mb-1">{{ menuEnumKey | menuType }}</p>
        <div class="list-group" *ngIf="!getPlanningForDayAndMenuType(day, menuEnumKey) || getPlanningForDayAndMenuType(day, menuEnumKey).menu_type.toLowerCase() == menuEnumKey">
          <a *ngIf="getPlanningForDayAndMenuType(day, menuEnumKey) && getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter" href="javascript:void(0);" (click)="selectRecipe(getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter)" [ngClass]="{'list-group-item list-group-item-action flex-column align-items-start': true, 'active': recipeSelected && getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter.id == recipeSelected.id}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><img [src]="'/assets/images/' + getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter.image" class="float-left mr-2" style="margin-top: -1px;" width="24" width="24"> {{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter.name }}</h5>
              <small>Entrée</small>
            </div>
            <p class="mb-1">{{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter.ingredients | ingredients }}</p>
            <small>
              <span *ngIf="getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter.alreadyDone"><fa name="check"></fa> Déjà goutée</span>
              <span *ngIf="!getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter.alreadyDone"><fa name="times"></fa> Jamais réalisée</span>
              &nbsp;&nbsp;
              <fa name="clock-o"></fa>{{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter.time | realRecipeTime }}
            </small>
          </a>
          <a href="javascript:void(0);" (click)="selectAddRecipe(day, menuEnumKey, 'starter')" *ngIf="showAdd && (!getPlanningForDayAndMenuType(day, menuEnumKey) || !getPlanningForDayAndMenuType(day, menuEnumKey).menu.starter)" [ngClass]="{'list-group-item list-group-item-action flex-column align-items-start active': true}">
            <fa name="plus"></fa> Ajouter une entrée
          </a>
          <a *ngIf="getPlanningForDayAndMenuType(day, menuEnumKey) && getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish" href="javascript:void(0);" (click)="selectRecipe(getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish)" [ngClass]="{'list-group-item list-group-item-action flex-column align-items-start': true, 'active': recipeSelected && getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish.id == recipeSelected.id}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><img [src]="'/assets/images/' + getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish.image" class="float-left mr-2" style="margin-top: -1px;" width="24" width="24"> {{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish.name }}</h5>
              <small>Plat</small>
            </div>
            <p class="mb-1">{{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish.ingredients | ingredients }}</p>
            <small>
              <span *ngIf="getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish.alreadyDone"><fa name="check"></fa> Déjà goutée</span>
              <span *ngIf="!getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish.alreadyDone"><fa name="times"></fa> Jamais réalisée</span>
              &nbsp;&nbsp; 
              <fa name="clock-o"></fa>{{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish.time | realRecipeTime }}
            </small>
          </a>
          <a href="javascript:void(0);" *ngIf="showAdd && (!getPlanningForDayAndMenuType(day, menuEnumKey) || !getPlanningForDayAndMenuType(day, menuEnumKey).menu.dish)" [ngClass]="{'list-group-item list-group-item-action flex-column align-items-start active': true}">
            <fa name="plus"></fa> Ajouter un plat
          </a>
          <a *ngIf="getPlanningForDayAndMenuType(day, menuEnumKey) && getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert" href="javascript:void(0);" (click)="selectRecipe(getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert)" [ngClass]="{'list-group-item list-group-item-action flex-column align-items-start': true, 'active': recipeSelected && getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert.id == recipeSelected.id}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><img src="/assets/images/icons/coin.png" class="float-left mr-2" style="margin-top: -1px;" width="24" width="24"> {{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert.name }}</h5>
              <small>Dessert</small>
            </div>
            <p class="mb-1">{{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert.ingredients | ingredients }}</p>
            <small>
              <span *ngIf="getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert.alreadyDone"><fa name="check"></fa> Déjà goutée</span>
              <span *ngIf="!getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert.alreadyDone"><fa name="times"></fa> Jamais réalisée</span>
              &nbsp;&nbsp; 
              <fa name="clock-o"></fa>{{ getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert.time | realRecipeTime }}
            </small>
          </a>
          <a href="javascript:void(0);" *ngIf="showAdd && (!getPlanningForDayAndMenuType(day, menuEnumKey) || !getPlanningForDayAndMenuType(day, menuEnumKey).menu.dessert)" [ngClass]="{'list-group-item list-group-item-action flex-column align-items-start active': true}">
            <fa name="plus"></fa> Ajouter un dessert
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

