@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootswatch";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  background-color: lighten($primary, 55);
}

.card {
  &.border-primary {
    .card-header {
      background-color: $primary;
    }
  }

  &.border-info {
    .card-header {
      background-color: $info;
    }
  }

  .card-header {
    color: $white;
  
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
  }
}

.loading-cog {
  color: $primary;
}

.progress-bar {
  transition: width 1s !important;
}