@import "../../../variables";

.stock {
  .stock-item {
    .stock-item-content {
      background-color: $primary;

      max-width: 100px;
      height: 135px;
    }

    .stock-item-add {
      color: $white;
    }

    .stock-item-name {
      color: $white;
      font-size: 0.65rem;
    }

    .stock-item-quantity {
      color: $white;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}