<div class="card border-primary mb-3 w-100">
  <div class="card-header px-3">Cale du navire</div>
  <fa name="circle-o-notch" class="my-5 text-center loading-cog" animation="spin" size="5x" *ngIf="!stocks"></fa>
  <div class="card-body px-3 pt-3 pb-0 stock" *ngIf="stocks">
    <div class="row">
      <div class="col-xs-3 col-sm-3 px-0 text-center stock-item mb-3" *ngFor="let stock of stocks">
        <div class="mx-2 py-3 stock-item-content rounded">
          <img [src]="'/assets/images/' + stock.aliment.image" class="mb-2" width="32" width="32">
          <h5 class="mb-0 stock-item-name">{{ stock.aliment.name }}</h5>
          <h6 class="my-0 font-weight-bold stock-item-quantity">{{ stock.quantity }} {{ stock.aliment.unit | quantity }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

